<nav class="navbar navbar-expand-md md-navbar">
  <a class="navbar-brand" href="{% url 'home' %}">My Doctor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mdNav" aria-controls="mdNav" aria-expanded="false" aria-label="Menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mdNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Início</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#planos">Planos</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#seguranca">Segurança</a></li>
      {% if user.is_authenticated %}
        {% if user.medico %}
          <li class="nav-item"><a class="nav-link" href="{% url 'doctor_dashboard' %}">Painel Médico</a></li>
        {% endif %}
        {% if not user.medico or user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Serviços</a></li>
        {% endif %}
        {% if user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sair</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Cadastro</a></li>
      {% endif %}
    </ul>
    {% if voltar_url %}
      <a class="btn md-btn-back" href="{{ voltar_url }}" data-md-back="1">← Voltar</a>
    {% endif %}
  </div>
</nav>
