# Python
__pycache__/
*.py[cod]
.venv/
.venv-test/
venv/
.env
.env.local

# Django
mydoctor-api/db.sqlite3
mydoctor-api/staticfiles/
mydoctor-api/media/

# Node / Expo
mydoctor/node_modules/
mydoctor/.expo/
mydoctor/dist/
mydoctor/.env

# IDE
.idea/
.vscode/
.DS_Store

.vercel/
.vercel
